@using OutOfNews.Extensions
@using OutOfNews.Models
@using Microsoft.AspNetCore.Identity
@model ChangePasswordViewModel
@inject UserManager<User> _userManager

@{
    ViewBag.Title = "Change Password";
}

<h2>Change you password:</h2>
@if (@User.GetLoggedInUser<User>(_userManager).NormalizedEmail != "ANONAS@NOMAIL.COM")
{
    <form method="post" asp-controller="Auth" asp-action="ChangePassword">
        <div asp-validation-summary="ModelOnly"></div>
        <div>
            <label asp-for="CurrentPassword" class="auth-label"></label><br />
            <input asp-for="CurrentPassword" class="auth-input"/>
            <span asp-validation-for="CurrentPassword"></span>
        </div>
        <div>
            <label asp-for="NewPassword" class="auth-label"></label><br />
            <input asp-for="NewPassword" class="auth-input"/>
            <span asp-validation-for="NewPassword"></span>
        </div>
        <div>
            <label asp-for="ConfirmPassword" class="auth-label"></label><br />
            <input asp-for="ConfirmPassword" class="auth-input"/>
            <span asp-validation-for="ConfirmPassword"></span>
        </div>
        <div>
            <input type="submit" value="Change Password" class="btn-dark auth-submit"/>
        </div>
    </form>
}
else
{
    <h3>Sorry, but Anonas`es account is fixed</h3>
}