@model LoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = "_Layout";
}

<a asp-controller="Auth" asp-action="Register"><h1 data-defaultText="Sign In" id="login">Sign In</h1></a>
<hr/>
<form method="post" asp-controller="Auth" asp-action="Login"
      asp-route-returnUrl="@Model.ReturnUrl">
    <div asp-validation-summary="ModelOnly"></div>
    <div class="d-block">
        <label asp-for="Email" class="auth-label"></label><br />
        <input asp-for="Email"  class="auth-input"/>
        <span asp-validation-for="Email"></span>
    </div>
    <div class="d-block">
        <label asp-for="Password" class="auth-label"></label><br />
        <input asp-for="Password"  class="auth-input"/>
        <span asp-validation-for="Password"></span>
    </div>
    <div class="d-block">
        <span class="switch">
            <label asp-for="RememberMe" class="auth-label"></label><br/>
            <input asp-for="RememberMe" class="toggle"/>
        </span>
    </div>
    <div class="d-block">
        <input type="submit" value="Sign in" class="btn-dark auth-submit"/>
    </div>
</form>